<div class="row">
    <div class="col-md-6">
        <div class="product-image">
            <img src="{{product.imagePath}}">
        </div>
    </div>
    <div class="col-md-6">
        <div class="product-details-wrapper">
            <div class="product-title title"><h1>{{product.title}}</h1></div>
            <div class="product-description">{{product.description}}</div>
            <div class="product-price">${{product.price}} CAD</div>
            <div class="product-button">
                <a href="/add-to-bag/{{product._id}}" class="btn btn-primary full-width pad10"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Add to bag</a>
            </div>
        </div>
    </div>
</div>